<?xml version="1.0"?>
<connectionStrings>
  <!--Home DB-->
  <!--<add name="TrinetixInterviewEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DT\sql2012;initial catalog=TrinetixInterview;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  <!--Work DB-->
  <add name="TrinetixInterviewEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DOK1088;initial catalog=TrinetixInterview;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />  

</connectionStrings>
